<a id="top"></a>
<h1>Pipes</h1>
<a href="pipes#happybirthdayv1">Happy Birthday V1</a><br>
<a href="pipes#happybirthdayv2">Happy Birthday V2</a><br>
<a href="pipes#birthdaypipechaining">❤asceticInnovationTechnologyNG❤</a><br>
<a href="pipes#powerbooster">Power Booster Custom Pipe</a><br>
<a href="pipes#powerboostercalculator">Power Booster Calculator Custom Pipe With Params</a><br>
<a href="pipes#flyingheroespure">Teleporting Heroes Filter Pipe (pure)</a><br>
<a href="pipes#flyingheroesimpure">Teleporting Heroes Filter Pipe (impure)</a><br>

<hr>
<a id="happybirthdayv1"></a>
<h2>we honor Angular 1</h2>
<app-happybirthdayv1></app-happybirthdayv1>
<a href="pipes#top">back to top</a>

<hr>
<a id="happybirthdayv2"></a>
<h2>we honor Angular 2</h2>
<app-happybirthdayv2></app-happybirthdayv2>
<br>
<a href="pipes#top">back to top</a>

<hr>
<a id="birthdaypipechaining"></a>
<h2>birthday pipe chaining</h2>
<p>
chained birthday is 
{{ birthday | date | uppercase }}
</p>
<p>
chained birthday is
{{ birthday | date: 'shortDate' | uppercase }}
</p>
<p>
chained birthday is
{{ (birthday | date: 'fullDate')  | uppercase }} 
</p>
<a href="pipes#top">back to top</a>

<hr>
<a id="powerbooster"></a>
<app-powerbooster></app-powerbooster>
<a href="pipes#top">back to top</a>

<hr>
<a id="powerboostercalculator"></a>
<app-powerboostercalculator></app-powerboostercalculator>
<a href="pipes#top">back to top</a>

<hr>
<a id="flyingheroespure"></a>
<app-flyingheroespure></app-flyingheroespure>
<a href="pipes#top">back to top</a>

<hr>
<a id="flyingheroesimpure"></a>
<app-flyingheroesimpure></app-flyingheroesimpure>
<a href="pipes#top">back to top</a>