<h1>
  {{title}}
</h1>
<nav>
<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
<a routerLink="/heroes"    routerLinkActive="active">Heroes</a>
<a routerLink="/displayingdata" routerLinkActive="active">Display Data</a>
<a routerLink="/clickme" routerLinkActive="active">ClickMe</a>
<a routerLink="/form" routerLinkActive="active">Form</a>
<a routerLink="/di" routerLinkActive="active">DI</a>
<a routerLink="/trans2states" routerLinkActive="active">Animations</a>
<a routerLink="/transenterleave" routerLinkActive="active">Animations1</a>
<a routerLink="/highlight" routerLinkActive="active">Highlight</a>
<a routerLink="/componentstyles" routerLinkActive="active">ComponentStyles</a>
</nav>
<router-outlet></router-outlet>

<!--https://angular.io/docs/ts/latest/guide/animations.html-->