<h1>
  {{title}}
</h1>
<!--https://angular.io/docs/ts/latest/guide/animations.html-->
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/displayingdata" routerLinkActive="active">DisplayData</a>
  <a routerLink="/clickme" routerLinkActive="active">ClickMe</a>
  <a routerLink="/ngform" routerLinkActive="active">Form</a>
  <a routerLink="/dependencyinjection" routerLinkActive="active">DI</a>
  <a routerLink="/transition2states" routerLinkActive="active">Animations</a>
  <a routerLink="/transitionenterleave" routerLinkActive="active">Animations1</a>
  <a routerLink="/attributehighlight" routerLinkActive="active">Highlight</a>
  <a routerLink="/componentstyles" routerLinkActive="active">ComponentStyles</a>
  <a routerLink="/hierarchicaldependencyinjection" routerLinkActive="active">HDI</a>
  <a routerLink="/http" routerLinkActive="active">HTTP</a>
  <a routerLink="/lifecyclehooks" routerLinkActive="active">LCH</a>
  <a routerLink="/pipes" routerLinkActive="pipes">Pipes</a>
</nav>
<router-outlet></router-outlet>

