<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dash</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/displayingdata" routerLinkActive="active">DisData</a>
  <a routerLink="/clickme" routerLinkActive="active">ClickMe</a>
  <a routerLink="/ngform" routerLinkActive="active">Form</a>
  <a routerLink="/dependencyinjection" routerLinkActive="active">DI</a>
  <a routerLink="/transition2states" routerLinkActive="active">Animate</a>
  <a routerLink="/transitionenterleave" routerLinkActive="active">Animates</a>
  <a routerLink="/attributehighlight" routerLinkActive="active">HLight</a>
  <a routerLink="/componentstyles" routerLinkActive="active">Component</a>
  <a routerLink="/hierarchicaldependencyinjection" routerLinkActive="active">HDI</a>
  <a routerLink="/http" routerLinkActive="active">HTTP</a>
  <a routerLink="/lifecyclehooks" routerLinkActive="active">LCH</a>
  <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
  <a routerLink="/routing" routerLinkActive="active">Routes</a>
</nav>
<router-outlet></router-outlet>

