<a id="top"></a>
<h1>Component Lifecycle Hooks</h1>
<a href="lifecyclehooks#hooks">Peek-a-boo: (ing her o) lifecycle hooks</a><br>
<a href="lifecyclehooks#onchanges">OnChanges</a><br>
<a href="lifecyclehooks#spy">Spy: directive with OnInit & OnDestroy</a><br>
<a href="lifecyclehooks#docheck">DoCheck</a><br>
<a href="lifecyclehooks#after-view">AfterViewInit & AfterViewChecked</a><br>
<a href="lifecyclehooks#after-content">AfterContentInit & AfterContentChecked</a><br>

<a id="hooks"></a>
<app-peekabooparent></app-peekabooparent>
<a href="lifecyclehooks#top">back to top</a>

<a id="spy"></a>
<i3-spy-master-2></i3-spy-master-2>
<a href="lifecyclehooks#top">back to top</a>
<a id="onchanges"></a>
<app-onchangesparent></app-onchangesparent>
<a href="lifecyclehooks#top">back to top</a>

<a id="docheck"></a>
<app-docheckparent></app-docheckparent>
<a href="lifecyclehooks#top">back to top</a>

<a id="after-view"></a>
<app-afterviewparentparent></app-afterviewparentparent>
<a href="lifecyclehooks#top">back to top</a>

<a id="after-content"></a>
<app-aftercontentparent></app-aftercontentparent>
<a href="lifecyclehooks#top">back to top</a>